<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.supercamera">

    <!-- 权限声明 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>


    <!-- Android 13+ 媒体权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- 硬件特性 -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperCamera"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 主 Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|screenLayout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.aliyun.alivc_license.licensekey"
            android:value="7PdN656itXg0i54LYfada9a6c3f8a4d84bfd2ee7a29a41d11"/>  <!-- TODO:请设置您的 LicenseKey值-->
        <meta-data
            android:name="com.aliyun.alivc_license.licensefile"
            android:value="assets/AliVideoCert-com_example_supercamera-20250131211539.crt"/>  <!-- TODO:请设置您的 LicenseFile文件路径-->

    </application>
</manifest>